@model WebBanGiay.Models.ForgotPasswordModel

@{
    ViewData["Title"] = "";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ForgotPassword</h1>

<hr />
<div class="row">
    <div class="col-md-4 offset-4">
        @if (Model?.EmailSent == true)
        {
            <div class="alert alert-success" role="alert">
                <p>Chúng tôi sẽ gửi mail về tài khoản bạn đã đăng ký, bạn hãy đợi nhé</p>
            </div>
        }
        else
        {
            <p>Quên mật khẩu ư, đừng lo lắng nhé :)))</p>
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="EmailSent" /> @Html.DisplayNameFor(model => model.EmailSent)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Gửi Email" class="btn btn-primary" />
                </div>
            </form>
        }

    </div>
</div>

<div>
    <a href="/Admin/Account/Index" class="btn btn-primary">Quay lại danh sách quản lý người dùng</a>
</div>


