<footer>
    <div class="footer" style="background-color: #6699FF;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <h3>Về chúng tôi</h3>
                    <ul>
                        <li><a href="https://www.facebook.com/dvkn.a9/">Khôi Nguyên</a></li>
                        <li><a href="/Home/LienHe">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <h3>Trợ giúp</h3>
                    <ul>
                        <li><a href="/Home/QuyDinh">Qui định sử dụng</a></li>
                        <li><a href="/Home/Thanhtoan">Phương thức thanh toán</a></li>
                        <li><a href="/Home/VanChuyen">Phương thức vận chuyển</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <h3>Hỗ trợ</h3>
                    <ul>
                        <li><a href="/Home/DoiTra">Chính sách đổi trả</a></li>
                        <li><a href="/Home/HoTro">Hỗ trợ</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <h3>Tài khoản</h3>
                    <ul>
                        <li><a href="/Identity/Account/Register">Đăng ký thành viên</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div style="color: white; text-align: center;">
                    <p>&copy; @DateTime.Now.Year <p>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    /* Footer */
    .footer {
        background-color: #6699FF;
        padding-bottom: 3px;
        border-radius: 10px; /* Bo tròn các góc */
        border-bottom: 1px solid #fff; /* Thêm gạch chân dưới */
    }

        .footer h3 {
            color: #fff;
            font-size: 18px;
            margin-top: 20px;
            border-bottom: 1px solid #fff; /* Thêm gạch chân dưới */
        }

        .footer ul {
            list-style-type: none;
            padding: 0;
        }

            .footer ul li {
                margin-bottom: 10px;
            }

        .footer a {
            color: #fff;
            text-decoration: none;
        }

            .footer a:hover {
                color: #CCCCCC;
            }

    .footer-social {
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
    }

        .footer-social li {
            display: inline-block;
            margin-right: 10px;
        }

    .footer-apps {
        margin-top: 20px;
        border-bottom: 1px solid #fff; /* Thêm gạch chân dưới */
    }

        .footer-apps img {
            margin-right: 10px;
        }

    .container {
        border-radius: 10px; /* Bo tròn các góc */
    }
</style>