<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin cửa hàng</title>
    <!-- Add your CSS stylesheets here -->
    <link rel="stylesheet" href="styles.css">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <!-- Navigation -->

        <!-- /Navigation -->
    </header>

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mb-4">Thông tin cửa hàng</h2>
                <p><i class="fas fa-map-marker-alt mr-2"></i> Khu Công nghệ cao Xa Lộ Hà Nội, Hiệp Phú, Thủ Đức, Thành phố Hồ Chí Minh</p>
                <p><i class="fas fa-phone-alt mr-2"></i> Hotline: 0943.013.031</p>
                <p><i class="far fa-envelope mr-2"></i> Email: khoinguyenhv123@gmail.com</p>
                <p><i class="far fa-clock mr-2"></i> Mở cửa: T2 – T7: 11:00 ~ 21:00, CN: 14:00 ~ 20:00</p>
                <div class="mt-4">
                    <a href="https://bit.ly/4awkM2a" class="btn btn-primary mr-3" target="_blank"><i class="fas fa-map-marker-alt mr-2"></i> Google map</a>
                    <a href="HoTro" class="btn btn-secondary"><i class="fas fa-phone-alt mr-2"></i> Liên hệ hỗ trợ</a>
                </div>
            </div>
            
        </div>
    </div>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
